.h_main {
    z-index: 2;
    height: 100%;
    color: $cor-gray-strong;
    @include flex-padrao(flex, flex-end, center, column);
    padding-bottom: 15px;
    text-align: center;

    &>* {
        margin: 15px 0px;
    }

    img {
        width: 126px;
        height: 68px;
    }

    h1 {
        font-size: 2.5rem;
        padding: 0px 20px;

        strong {
            color: $cor-red;
        }
    }

    h2 {
        padding: 0px 20px;
        font-weight: normal;
        font-size: 1.2rem;
    }

    .h_main_btn {
        width: 766px;
        display: flex;

        &>* {
            @include but-config-basico();
            border-radius: 3px;
            cursor: pointer;
            font-size: 1rem;
        }

        .btn1 {
            height: 50px;
            flex-grow: 1;
            @include background-and-color(#fff, $cor-gray-weak);
            @include flex-padrao(flex, initial, center);
            margin-right: 15px;
            box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.1);

            svg {
                padding: 10px;
                width: 48px;
                height: 48px;
            }

            .s_text {
                margin-left: 20px;
            }
        }

        .btn2 {
            @include background-and-color($cor-red, #fff);
            height: 50px;
            width: 168px;

            &:hover {
                transition: 1s;
                background-color: darkred;
            }
        }
    }

    .h_main_links {
        width: 766px;
        @include flex-padrao(flex, space-between, initial);
        overflow: hidden;

        &>a {
            text-decoration: none;
            font-size: 0.875rem;
            color: $cor-gray;
            padding: 5px;
            border-radius: 3px;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
}


@media screen and (max-width: 960px) {
    .h_main {
        padding-bottom: 50px;
        width: 100%;

        img {
            margin: 0px 0px 40px 0px;
        }

        h1 {
            font-size: 2.1rem;
        }

        h2 {
            font-size: 0.9rem;
        }

        .h_main_btn {
            width: 100%;
            padding: 0px 20px;
        }

        .h_main_links {
            width: 100%;
            padding: 0px 20px;
        }
    }
}

@media screen and (max-width: 760px) {
    .h_main {
        padding-bottom: 40px;

        img {
            margin: 0px 0px 40px 0px;
            width: 93px;
            height: 50px;
        }

        .h_main_btn {
            flex-wrap: wrap;

            .btn1 {
                margin-right: 0px;
                margin-bottom: 15px;
            }

            .btn2 {
                width: 100%;
                padding: 0px 20px;
            }
        }

        .h_main_links {
            a {
                margin-right: 15px;
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .h_main {
        &>* {
            margin: 10px 0px;
        }
    }
}

@media screen and (max-width: 460px) {
    .h_main {
        .h_main_btn {
            .btn1 {
                .s_text {
                    margin-left: 5px;
                }
            }
        }
    }
}