@import "../variaveis/variaveis";

.aquisicao {
    max-width: 1366px;
    width: 100%;
    padding: 0px 30px;
    padding-bottom: 20px;

    ul {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 33px;

        li {
            list-style: none;

            a {
                display: grid;
                text-decoration: none;
                transition: 200ms;

                &:hover {
                    transform: scale(1.03);
                }

                img {
                    object-fit: contain;
                    width: 100%;
                    height: 132px;
                    background-color: #ffe8e8;
                }

                .as1 {
                    margin-top: 22px;
                    font-size: 1.125rem;
                    color: $cor-gray-strong;
                }

                .as2 {
                    margin-top: 8px;
                    font-size: 1rem;
                    color: $cor-gray-weak;
                }
            }
        }
    }
}


@media screen and (max-width: 960px) {
    .aquisicao {
        ul {
            li {
                a {
                    .as1 {
                        font-size: 0.875rem;
                    }

                    .as2 {
                        font-size: 0.75rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .aquisicao {
    
        ul {
            padding: 0;
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 33px;
        }
    }
}
