@import '../variaveis/variaveis';

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    @include flex-padrao(flex, flex-start, center, column);
    height: 100%;

    &::-webkit-scrollbar{
        width: 0px;
    }
}